// /*------------------------------------*\
//     #WIDTHS-RESPONSIVE
// \*------------------------------------*/

// /**
//  * Some simple, crude, starting-point widths to use alongside the layout system.
//  */

// @include break($small-break) {

//   // .small-one-whole         { width: 100%; }

//   .small-one-half          { width: 50%; }

//   // .small-one-third         { width: 33.333333333%; }
//   // .small-two-thirds        { width: 66.666666666%; }

//   // .small-one-quarter       { width: 25%; }
//   // .small-three-quarters    { width: 75%; }

//   // .small-one-fifth         { width: 20%; }
//   // .small-two-fifths        { width: 40%; }
//   // .small-three-fifths      { width: 60%; }
//   // .small-four-fifths       { width: 80%; }

// }





@include break($med-break) {

//   .med-one-whole          { width: 100%; }

//   .med-one-half           { width: 50%; }

  // .med-one-third          { width: 33.3334%; }
  // .med-two-thirds         { width: 66.6667%; }
  // .med-one-third          { width: 30%; }
  // .med-two-thirds         { width: 70%; }

//   .med-one-quarter        { width: 25%; }
//   // .med-three-quarters     { width: 75%; }

//   .med-one-fifth          { width: 20%; }
//   // .med-two-fifths         { width: 40%; }
//   // .med-three-fifths       { width: 60%; }
//   .med-four-fifths        { width: 80%; }

//   // .med-push-one-quarter    { position: relative; left: 25%; }

}





// @include break($large-break) {

//   .large-one-whole         { width: 100%; }

//   .large-one-half          { width: 50%; }

//   .large-one-third         { width: 33.3334%; }
//   .large-two-thirds        { width: 66.6667%; }

//   // .large-one-quarter       { width: 25%; }
//   // .large-three-quarters    { width: 75%; }

//   // .large-one-fifth         { width: 20%; }
//   // .large-two-fifths        { width: 40%; }
//   // .large-three-fifths      { width: 60%; }
//   // .large-four-fifths       { width: 80%; }

//   .large-push-one-quarter    { position: relative; left: 25%; }

// }





