{% set page = 'home' %}

{% extends "partials/layout.twig" %}

{% set svg = "partials/svg.twig" %}

{% block content %}

<section class="wrapper">

  <div class="flexbox">

    <div class="flex__item">
      <img src="https://placehold.it/800x600" alt="">
    </div>

    <div class="flex__item">
      <img src="https://placehold.it/800x600" alt="">
    </div>

    <div class="flex__item">
      <img src="https://placehold.it/472x265" alt="">
    </div>

    <div class="flex__item">
      <img src="https://placehold.it/472x265" alt="">
    </div>

  </div>

</section> <!-- /.wrapper -->

{% endblock %}










