{% set page = 'home' %}

{% set theme = 'light' %}

{% extends "partials/layout.twig" %}

{% set svg = "partials/svg.twig" %}

{% block content %}

<section class="wrapper  wrapper--grid">

  <div class="gallery">
    <!-- used to calculate size of images with masonry -->
    <div class="gallery__item-sizer"></div>
    <!-- used to calculate size of images with masonry -->

    <div class="gallery__featured">
      <figure class="gallery__thumb" data-src="/img/3.jpg" data-sub-html="<figcaption>Scotchy Scrotch</figcaption>">
        <img src="/img/3.jpg" alt="">
      </figure>

      <figure class="gallery__thumb" data-src="/img/8.jpg" data-sub-html="<figcaption>Grey Goose Raspberry Piss</figcaption>">
        <img src="/img/8.jpg" alt="">
      </figure>
    </div>

    <figure class="gallery__item  gallery__thumb" data-src="/img/1.jpg" data-sub-html="<figcaption>Egg on B &amp; W</figcaption>">
      <img src="/img/1.jpg" alt="blah blah">
    </figure>

    <figure class="gallery__item  gallery__thumb" data-src="/img/2.jpg" data-sub-html="<figcaption>I prefer drinking straight from the carafe</figcaption>">
      <img src="/img/2.jpg" alt="blah blah">
    </figure>

    <figure class="gallery__item  gallery__thumb" data-src="/img/4.jpg" data-sub-html="<figcaption>DRANK</figcaption>">
      <img src="/img/4.jpg" alt="blah blah">
    </figure>

    <figure class="gallery__item  gallery__thumb" data-src="/img/5.jpg" data-sub-html="<figcaption>Where's the bunsen burner?!</figcaption>">
      <img src="/img/5.jpg" alt="blah blah">
    </figure>

    <figure class="gallery__item  gallery__thumb" data-src="/img/6.jpg" data-sub-html="<figcaption>A Good Ol’ Fashioned Bastard</figcaption>">
      <img src="/img/6.jpg" alt="blah blah">
    </figure>

    <figure class="gallery__item  gallery__thumb" data-src="/img/7.jpg" data-sub-html="<figcaption>Bombay Bicycle Club</figcaption>">
      <img src="/img/7.jpg" alt="blah blah">
    </figure>

    <figure class="gallery__item  gallery__thumb" data-src="/img/9.jpg" data-sub-html="<figcaption>Jam</figcaption>">
      <img src="/img/9.jpg" alt="blah blah">
    </figure>

    <figure class="gallery__item  gallery__thumb" data-src="/img/10.jpg" data-sub-html="<figcaption>blah blah</figcaption>">
      <img src="/img/10.jpg" alt="blah blah">
    </figure>

    <figure class="gallery__item  gallery__thumb" data-src="/img/11.jpg" data-sub-html="<figcaption>blah blah</figcaption>">
      <img src="/img/11.jpg" alt="blah blah">
    </figure>

    <figure class="gallery__item  gallery__thumb" data-src="/img/12.jpg" data-sub-html="<figcaption>blah blah</figcaption>">
      <img src="/img/12.jpg" alt="blah blah">
    </figure>

    <figure class="gallery__item  gallery__thumb" data-src="/img/13.jpg" data-sub-html="<figcaption>blah blah</figcaption>">
      <img src="/img/13.jpg" alt="blah blah">
    </figure>

    <figure class="gallery__item  gallery__thumb" data-src="/img/14.jpg" data-sub-html="<figcaption>blah blah</figcaption>">
      <img src="/img/14.jpg" alt="blah blah">
    </figure>

    <figure class="gallery__item  gallery__thumb" data-src="/img/15.jpg" data-sub-html="<figcaption>blah blah</figcaption>">
      <img src="/img/15.jpg" alt="blah blah">
    </figure>

    <figure class="gallery__item  gallery__thumb" data-src="/img/16.jpg" data-sub-html="<figcaption>blah blah</figcaption>">
      <img src="/img/16.jpg" alt="blah blah">
    </figure>

    <figure class="gallery__item  gallery__thumb" data-src="/img/17.jpg" data-sub-html="<figcaption>blah blah</figcaption>">
      <img src="/img/17.jpg" alt="blah blah">
    </figure>

    <figure class="gallery__item  gallery__thumb" data-src="/img/18.jpg" data-sub-html="<figcaption>blah blah</figcaption>">
      <img src="/img/18.jpg" alt="blah blah">
    </figure>

    <figure class="gallery__item  gallery__thumb" data-src="/img/19.jpg" data-sub-html="<figcaption>blah blah</figcaption>">
      <img src="/img/19.jpg" alt="blah blah">
    </figure>

    <figure class="gallery__item  gallery__thumb" data-src="/img/20.jpg" data-sub-html="<figcaption>blah blah</figcaption>">
      <img src="/img/20.jpg" alt="blah blah">
    </figure>

    <figure class="gallery__item  gallery__thumb" data-src="/img/21.jpg" data-sub-html="<figcaption>blah blah</figcaption>">
      <img src="/img/21.jpg" alt="blah blah">
    </figure>

    <figure class="gallery__item  gallery__thumb" data-src="/img/22.jpg" data-sub-html="<figcaption>blah blah</figcaption>">
      <img src="/img/22.jpg" alt="blah blah">
    </figure>

    <figure class="gallery__item  gallery__thumb" data-src="/img/23.jpg" data-sub-html="<figcaption>blah blah</figcaption>">
      <img src="/img/23.jpg" alt="blah blah">
    </figure>

  </div>

</section> <!-- /.wrapper -->

{% endblock %}










