{% set page = 'home' %}

{% extends "partials/layout.twig" %}

{% set svg = "partials/svg.twig" %}

{% block content %}

<section class="wrapper  wrapper--grid">

  <div class="masonry">
    <div class="item-sizer"></div>
    <div class="stamp">
      <img src="https://placehold.it/800x600?text=Featured" alt="">
      <img src="https://placehold.it/800x600?text=Featured" alt="">
    </div>
    <div class="item">
      <a href="/img/l__big.jpg" class="gallery__item" title="Ooo yummy" data-gallery>
        <img src="/img/l__small.jpg" alt="blah blah">
      </a>
    </div>
    <div class="item">
      <a href="/img/p__big.jpg" class="gallery__item" title="Dayummm" data-gallery>
        <img src="/img/p__small.jpg" alt="blah blah">
      </a>
    </div>
    <div class="item">
      <img src="https://placehold.it/472x565?text=3" alt="">
    </div>
    <div class="item">
      <img src="https://placehold.it/472x65?text=4" alt="">
    </div>
    <div class="item">
      <img src="https://placehold.it/472x265?text=5" alt="">
    </div>
    <div class="item">
      <img src="https://placehold.it/472x365?text=6" alt="">
    </div>
    <div class="item">
      <img src="https://placehold.it/472x565?text=7" alt="">
    </div>
    <div class="item">
      <img src="https://placehold.it/472x165?text=8" alt="">
    </div>
    <div class="item">
      <img src="https://placehold.it/472x265?text=9" alt="">
    </div>
    <div class="item">
      <img src="https://placehold.it/472x365?text=10" alt="">
    </div>
    <div class="item">
      <img src="https://placehold.it/472x500?text=11" alt="">
    </div>
    <div class="item">
      <img src="https://placehold.it/472x865?text=12" alt="">
    </div>
    <div class="item">
      <img src="https://placehold.it/472x265?text=13" alt="">
    </div>
    <div class="item">
      <img src="https://placehold.it/472x365?text=14" alt="">
    </div>
    <div class="item">
      <img src="https://placehold.it/472x665?text=15" alt="">
    </div>
    <div class="item">
      <img src="https://placehold.it/472x65?text=16" alt="">
    </div>
    <div class="item">
      <img src="https://placehold.it/472x265?text=17" alt="">
    </div>
    <div class="item">
      <img src="https://placehold.it/472x365?text=18" alt="">
    </div>
    <div class="item">
      <img src="https://placehold.it/472x565?text=19" alt="">
    </div>
    <div class="item">
      <img src="https://placehold.it/472x165?text=20" alt="">
    </div>
    <div class="item">
      <img src="https://placehold.it/472x265?text=21" alt="">
    </div>
    <div class="item">
      <img src="https://placehold.it/472x365?text=22" alt="">
    </div>
    <div class="item">
      <img src="https://placehold.it/472x565?text=23" alt="">
    </div>
    <div class="item">
      <img src="https://placehold.it/472x865?text=24" alt="">
    </div>
  </div>

</section> <!-- /.wrapper -->

{% endblock %}










