{% set page = 'styleguide' %}

{% extends "../partials/layout.twig" %}

{% set svg = "../partials/svg.twig" %}

{% block meta_description %}blah blah{% endblock %}

{% block content %}

<div class="wrapper t-white">

  <h1 class="sg-heading">Laura Knox</h1>

  <h2 class="sg-subheading">Style guide</h2>

  <p class="t-lede"><span class="t-alpha">Laura Knox</span> is orem ipsum dolor sit amet, consectetur adipisicing elit. Odit ipsum recusandae veritatis voluptate dolor vel nam odio voluptatem minima deleniti. Molestias libero quasi ipsa. Ipsam vel magnam libero, facere dicta?</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit ipsum recusandae veritatis voluptate dolor vel nam odio voluptatem minima deleniti. Molestias libero quasi ipsa. Ipsam vel magnam libero, facere dicta?</p>
  
</div>

{% endblock %}










