{% set page = 'styleguide' %}

{% extends "../partials/layout.twig" %}

{% set svg = "../partials/svg.twig" %}

{% block meta_description %}blah blah{% endblock %}

{% block content %}

<div class="wrapper">

  <h1 class="sg-heading">Laura Knox</h1>
  <h2 class="sg-subheading">Style Guide</h2>

</div>

{% endblock %}










