/*------------------------------------*\
    #COLORS
\*------------------------------------*/

// Palette
$palette: (
  "white":           #fff,
  "black":           #000,
  "grey--light":     darken(#fff, 30), //#b3b3b3
  "grey--dark":      lighten(#000, 40) //#666666
);

//Colour function
@function col($color) {
  @return map-get($palette, $color);
}





// Page
$base-background-color:   col("white");
$base-text-color:         col("black");
$base-brand-color:        col("black");





// Links
$color-links:           col("black");
$color-links-hover:     col("black");
$color-links-underline: col("black");





// Buttons
$color-btn:     $color-links;





// Site nav
$color-site-nav:    $base-text-color;





// Page foot
$color-page-foot:               col("white");
