/*------------------------------------*\
    #GLOBAL
\*------------------------------------*/

$base-transition: 200ms ease;

// High-level base settings.
$base-font-size:          rem(16) !default;
$base-line-height:        rem(24) !default;





// These variables are framework variables, sourced from variables defined
// above. Feel free to use these variables throughout your project, but do not
// modify or reassign them.
$base-spacing-unit:           rem(20);
$base-spacing-unit--large:    $base-spacing-unit * 4;
$base-spacing-unit--huge:     $base-spacing-unit * 3;


