/*------------------------------------*\
    #COLORS
\*------------------------------------*/

// Palette
$palette: (
  "white":           #fff,
  "black":           #000,
  "grey--light":     darken(#fff, 30), //#b3b3b3
  "grey--dark":      lighten(#000, 40) //#666666
);

//Colour function
@function col($color) {
  @return map-get($palette, $color);
}





// Page
$base-background-color:   col("white");
$base-text-color:         col("black");
