/*------------------------------------*\
    #Themes
\*------------------------------------*/

.theme--light, 
.theme--dark {
  transition: background-color .2s ease;
}

.theme--dark {
  background-color: col('black');
  color: col('white');
  // transition: background-color .2s ease;

  svg {
    fill: col('white');
  }

  ::selection { // on select remove text-shadow!
    background: $base-background-color;
    color: $base-text-color;
  }

}












