// /*------------------------------------*\
//     #Style Guide Objects
// \*------------------------------------*/

.styleguide {
  padding-top: rem(50);
  padding-bottom: rem(100);

  .sg-subheading {
    margin-top: 0;
    font-size: 30px;
  }

  .sg-title {
    font-size: 18px;
    line-height: 26px;
    color: col("blue");
    border-bottom: 1px solid col("grey--light");
    margin-top: rem(100);
  }

  h1 + .sg-title {
    margin-top: rem(20);
  }

}

.palette {
  margin: $base-spacing-unit 0 0;
  padding: 0;
  @extend .l-cf;
}

.palette__item {
  display: inline-block;
  margin: 0 2%;
  
}

.palette__circle {
  display: block;
  @include size( rem(150) );
  border-radius: 50%;
  &--border {
    border: rem(1) solid col("grey");
  }
}

.palette__title {
  display: block;
}

.sg-nav {
  position: fixed;
  right: 0;
  top: rem(190);
  z-index: 999;
  li {
    
    background: #fff;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    transform: translate3d(rem(60),0,0);
    transition: $base-transition;
    &:hover {
      transform: translate3d(0,0,0);
    }
    + li {
      margin-top: rem(-1);
    }
  }
  a {
    display: block;
    padding: rem(14) rem(20) rem(10);
  }
}











