/*------------------------------------*\
    #GRID
\*------------------------------------*/

//Combine the layout items with the widths found in `trumps.widths`.

// $gutter: $base-spacing-unit;

// .grid {
//   list-style: none;
//   // margin: $gutter 0 0 -#{$gutter};
//   margin: 0 0 0 -#{$gutter};
//   padding: 0;
//   text-align: left;
//   font-size: 0; // inline-block mystery margin hack
//   @include break($med-break) {
//     margin-top: 0;
//   }
// }

// .column {
//   display: inline-block;
//   margin-top: $gutter;
//   padding-left: $gutter;
//   vertical-align: top;
//   width: 100%;
//   font-size: medium; //IE
//   font-size: initial;
//   text-align: left;
//   // img {
//   //   width: 100%;
//   // }
// }





// *
//  * Grid Modifiers.
 

// .grid--no-margins {
//   margin-top: 0;

//   > .column {
//     margin-top: 0;
//   }

// }

// .grid--right {
//   text-align: right;

//   > .column {
//     text-align: left;
//   }

// }

// .grid--rtl {

//   @include break($large-break) {
//     text-align: right;
//   }

// }

// @include break-max($large-break) {
//   .grid--order {
//     display: flex !important;
//     flex-direction: column;
//   }
// }

// .col--order1 {
//   order: 1;
// }

// .col--order2 {
//   order: 2;
// }

// .col--order3 {
//   order: 3;
// }

// .col--order4 {
//   order: 4;
// }
