/*------------------------------------*\
    #TYPE
\*------------------------------------*/

/**
 * Headings 1–6.
 */

h1, .t-alpha, 
h2, .t-beta,
h3, .t-gamma, 
h4, .t-delta {
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

h1,.t-alpha {
  font-size: rem(22);
  line-height: rem(35);
  font-weight: 600;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  // @include break($med-break) {
  //   font-size: rem(40);
  //   line-height: rem(46);
  // }
}

h2, .t-beta {
  font-size: rem(18);
  line-height: rem(26);
  letter-spacing: 0.2em;
  text-transform: uppercase;
}





/**
 * Paragraphs.
 */
p, .p {
  font-size: rem(20);
  line-height: rem(28);
  letter-spacing: 0.02em;
}

.t-lede {
  font-size: rem(30);
  line-height: rem(38);
  letter-spacing: 0.02em;
}





/**
 * Emboldened elements.
 */
strong, b, em, dt {
  font-weight: 700;
}





/**
 * Horizontal rules.
 */
hr {
  border: none;
  border-top: rem(1) solid col("black");
  margin: $base-spacing-unit--large auto;

  @include break($med-break) {
    margin: $base-spacing-unit--huge auto;
  }

}




/**
 * Selection rules.
 */

::selection { // on select remove text-shadow!
  background: $base-text-color;
  color: $base-background-color;
}










