/*------------------------------------*\
    #SVGs
\*------------------------------------*/

svg {
  display: inline-block;
  vertical-align: top;
}

.s-logo {
  width: rem(220);
  height: rem(17);
  fill: col('black');
}

.s-logo-small {
  transition: $base-transition;
  @include size(rem(29));
  fill: col('black');
  @include break($med-break) {
    @include size(rem(60));
  }
}

.s-scroll-top {
  display: block;
  margin-left: auto;
  width: rem(12);
  height: rem(20);
  fill: col('white');
}
