/*------------------------------------*\
    #FLEXBOX
\*------------------------------------*/

//Combine the layout items with the widths found in `trumps.widths`.

$gutter: $base-spacing-unit;

.flexbox {
  display: flex;
  
  // row, row-reverse, column, column-reverse
  flex-direction: row; 
  
  // Align Items: Individual items. Cross Axis 
  // flex-start, flex-end, center, baseline, *stretch
  align-items: stretch ; 
  
  // Flex-wrap: Overflow handling
  // wrap, *no-wrap, wrap-reverse
  flex-wrap: no-wrap;
  
  // Justify Content: Entire Content Primary Axis
  // *flex-start, flex-end, center, space-between, space-around
  justify-content: flex-start; 
  
  // Align Content: Entire Content Cross Axis
  // flex-start, flex-end, center, space-between, space-around, *stretch
  align-content: stretch ;
}

.flex__item {
  // Number "weight", not position
  order: 0;
  // Number - Default 1
  flex-shrink: 1;
  // Number - Default 0
  flex-grow: 0;
  // Auto or Length
  flex-basis: auto;
  // flex-grow flex-shrink flex-basis
  // flex: ;
  // auto or flex-start or flex-end or center or baseline or stretch. Defaults to align-items value
  align-self: stretch;
}

.item,
.item-sizer {
  
  width: calc(50% - #{rem(20)});
  @include break($med-break) {
    width:  calc(25% - #{rem(20)});
  }
  @include break($huge-break) {
    width:  calc(16.666% - #{rem(20)});
  }
}

.item {
  margin-bottom: rem(20);
  img {
    width: 100%;
  }
}

.stamp {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - #{rem(20)});

  @include break($med-break) {
    width: calc(50% - #{rem(20)});
  }

  @include break($large-break) {
    // width:  calc(25% - #{rem(20)});
  }

  img {
    width: 100%;
    margin-bottom: rem(20);
  }
  
}

// .stamp2 {
//   background: pink;
//   top: 500px + 20px;
// }













