/*------------------------------------*\
    #LINKS
\*------------------------------------*/

a {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  @include attention(hover) {
    outline: none;
    text-decoration: none;
    color: col('grey--dark');
  }
}

p a {
  text-decoration: underline;
  transition: color $base-transition;
  &:hover {
    color: col('grey--dark');
    text-decoration: underline;
  }
}

.link-subtle a {  //used in old footer
  border-bottom: rem(1) solid transparent;
  &:hover {
    border-bottom: rem(1) solid col("blue");
  }
}
