/*------------------------------------*\
    #PAGE LOADER
\*------------------------------------*/

.switch {
  // transition: $base-transition;
  transition: opacity 1s ease;
  opacity: 1;
  &.is-hidden {
    opacity: 0;
  }
}

