/*------------------------------------*\
  #WRAPPERS
\*------------------------------------*/

.wrapper {
  margin: 0 auto;
  padding-right: $base-spacing-unit;
  padding-left:  $base-spacing-unit;

  @include break($large-break) {
    padding-right: $base-spacing-unit--large;
    padding-left:  $base-spacing-unit--large;
  }

}

.wrapper--grid {
  padding-right: 0;
  padding-left:  $base-spacing-unit;

  @include break($large-break) {
    padding-right: rem(60);
    padding-left:  $base-spacing-unit--large;
  }
  
}


