/*------------------------------------*\
    #MEDIA
\*------------------------------------*/

audio,
canvas,
img,
video {
  vertical-align: middle;
}


a img {
  border: none;
}


.media {
  position: relative;
  padding-top: 30px;
  padding-bottom: 56.25%;
  height: 0;
  height: auto;
  max-width: 100%;
  margin-bottom: 1em;
  overflow: hidden;
}

.media iframe,
.media object,
.media embed,
.media video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  background-color: transparent;
}






