{% set page = 'contact' %}

{% set theme = 'dark' %}

{% extends "../partials/layout.twig" %}

{% set svg = "../partials/svg.twig" %}

{% block meta_description %}blah blah{% endblock %}

{% block content %}

<div class="wrapper  l-cf">
  
  <div class="prose">
  <p class="t-lede">Laura Knox is a renowned photographer based in London. She has shot editorial for the likes of The Sunday Times Magazine and Wink Creative and advertising for JWT, Saatchi &amp; Saatchi, and AMV BBDO. Her work has been in numerous awards including: IPA, AOP &amp; Campaigns Big Awards and has exhibited at the Royal Academy.</p>

    <p class="t-lede">Her work has been in numerous awards including: AOP &amp; Campaigns Big Awards and has exhibited at the Royal Academy.</p>
  </div>
  
  <aside class="sidebar">
    <ul class="list p">
      <li><h2>Contact</h2></li>
      <li>+44(0) 7778 212 602</li>
      <li>laura@lauraknox.com</li>
      <li>2 Dingley Place</li>
      <li>London</li>
      <li>EC1V 8BP</li>
    </ul>
    <ul class="list p">
      <li><h2>Clients</h2></li>
      <li>Grey Goose</li>
      <li>Bacardi Group</li>
      <li>Caf&eacute; Pistou</li>
      <li>St~Germain</li>
      <li>Brindisa</li>
      <li>Marriott Hotel Group</li>
      <li>Alzheimer&rsquo;s Society</li>
    </ul>
  </aside>
  
</div>

{% endblock %}










