    {% set svg = "../partials/svg.twig" %}

    <footer class="footer  links-subtle">
      {# <p class="l-padding l-right">Brand &amp; website by <a href="">Ragged Edge</a></p> #}
    </footer> <!-- /.footer -->

 