    {% set svg = "../partials/svg.twig" %}

    <header class="header">

      <h2 class="t-header  nav__item  nav__item--1  {% if page == 'home' %}is-active{% endif %}">
        <a href="/">Work</a>
      </h2>

      <h2 class="t-header  nav__item  nav__item--2  {% if page == 'contact' %}is-active{% endif %}">
        <a href="/contact/">Contact</a>
      </h2>

      <a href="/" class="logo  logo--small">
        {% include svg with {'class': 's-logo-small', 'symbol': '#logo-small'} %}
      </a>
      
      <div class="has-arrow  h-med-down">
        <a href="/" class="logo  logo--large  l-padding">
          {% include svg with {'class': 's-logo', 'symbol': '#logo'} %}
        </a>
        <button class="scroll-top  js-scroll-top  l-padding">
          {% include svg with {'class': 's-scroll-top', 'symbol': '#arrow-up'} %}
        </button>
      </div>

    </header> <!-- /.header -->

 