    {% set svg = "../partials/svg.twig" %}

    <header class="header  wrapper">

      <h2 class="nav__item e1"><a href="">Work</a></h2>
      <h2 class="nav__item e2"><a href="">Contact</a></h2>

      <a href="/" class="logo logo--small e3">
        {% include svg with {'class': 's-logo-small', 'symbol': '#logo-small'} %}
      </a>

      <a href="/" class="logo e4">
        {% include svg with {'class': 's-logo', 'symbol': '#logo'} %}
      </a>

    </header> <!-- /.header -->

 