/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: rem(90);
  background-color: col('white');
  // transition: height $base-transition, background-color $base-transition;
  overflow: hidden;
  transition: height $base-transition, background-color $base-transition;

  .theme--dark & {
    background-color: col('black');
  }

  @include break($med-break) {
    // background-color: transparent;
    height: rem(200);
    justify-content: flex-start;
  }

  &.is-smaller {
    height: rem(60);
    background-color: col('black');
    color: col('white');

    svg {
      fill: col('white');
    }

    .s-logo-small {
      // @include size(rem(29));
      transform: scale(.5);
    }

    .nav__item.is-active {
      color: col('grey--dark');
    }

    .theme--dark & {
      background-color: col('white');
      color: col('black');

      svg {
        fill: col('black');
      }

      .nav__item.is-active {
        color: col('grey--light');
      }

    }

    .logo--large {
      opacity: 0;
      transform: translate3d(0,rem(-10),0);
      transition: $base-transition .2s;

      .light-gallery & {
        transform: translate3d(0,0,0);
        opacity: 1;
      }

    }

    .scroll-top {
      opacity: 1;
      transform: translate3d(0,0,0);
      transition: $base-transition .2s;

      .light-gallery & {
        transform: translate3d(0,rem(20),0);
        opacity: 0;
      }

    }

  }

}

.logo {
  display: inline-block;
  transition: .2s ease;
}

.logo--small {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.logo--large {
  transition: $base-transition 0;
  transform: translate3d(0,0,0);
  backface-visibility: hidden;
}

.has-arrow {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.scroll-top {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition: $base-transition 0;
  transform: translate3d(0,rem(20),0);
  backface-visibility: hidden;
}

.nav__item {
  float: left;
  display: inline-block;
  margin-top: 0;
  a {
    padding: $base-spacing-unit;

    @include break($large-break) {
      padding: $base-spacing-unit--large;
    }
  }

  &.is-active {
    color: col('grey--light');

    .theme--dark & {
      color: col('grey--dark');
    }

  }

}

.nav__item--1 {
  a {
    padding-right: $base-spacing-unit;
  }
}

.nav__item--2 {
  order: 1;
  a {
    padding-left: 0;
  }
}
