/*------------------------------------*\
  #SIDEBAR
\*------------------------------------*/

.prose {
  @include break($med-break) {
    float: left;
  }
}
.sidebar {
   margin-top: rem(60);

  @include break($med-break) {
    margin-top: 0;
    width: rem(220);
    float: right;
  }

}





